{
    "openapi": "3.0.0",
    "info": {
        "title": "Teachify API Documentation",
        "version": "1.0.0",
        "description": "API documentation for Teachify application - A comprehensive educational platform API"
    },
    "servers": [
        {
            "url": "http://teachify.127.0.0.1.io",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/documentation": {
            "get": {
                "tags": [
                    "General"
                ],
                "summary": "Get Documentation",
                "description": "Retrieve resource",
                "operationId": "get_Api_Documentation",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Operation successful",
                                    "data": {}
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "status": "error",
                                    "message": "Validation failed",
                                    "errors": {
                                        "field": [
                                            "The field is required."
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/oauth2-callback": {
            "get": {
                "tags": [
                    "General"
                ],
                "summary": "Get Oauth2 callback",
                "description": "Retrieve resource",
                "operationId": "get_Api_Oauth2_callback",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Operation successful",
                                    "data": {}
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "status": "error",
                                    "message": "Validation failed",
                                    "errors": {
                                        "field": [
                                            "The field is required."
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/academic/academic-years": {
            "get": {
                "tags": [
                    "Academic - Academic Years"
                ],
                "summary": "Get Academic years",
                "description": "Retrieve resource",
                "operationId": "get_Api_V1_Academic_Academic_years",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operation successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Example"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Operation successful",
                                    "data": {
                                        "id": 1,
                                        "name": "Example",
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "status": "error",
                                    "message": "Validation failed",
                                    "errors": {
                                        "field": [
                                            "The field is required."
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Academic - Academic Years"
                ],
                "summary": "Post Academic years",
                "description": "Create resource",
                "operationId": "post_Api_V1_Academic_Academic_years",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name",
                                    "start_year",
                                    "end_year"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 255
                                    },
                                    "start_year": {
                                        "type": "integer",
                                        "minLength": 1900,
                                        "maxLength": 2100
                                    },
                                    "end_year": {
                                        "type": "integer",
                                        "minLength": 1900,
                                        "maxLength": 2100
                                    },
                                    "is_active": {
                                        "type": "boolean"
                                    }
                                }
                            },
                            "example": {
                                "name": "John Doe",
                                "start_year": 2024,
                                "end_year": 2025,
                                "is_active": true
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operation successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Example"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Operation successful",
                                    "data": {
                                        "id": 1,
                                        "name": "Example",
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "status": "error",
                                    "message": "Validation failed",
                                    "errors": {
                                        "field": [
                                            "The field is required."
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operation successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Example"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Resource created successfully",
                                    "data": {
                                        "id": 1,
                                        "name": "Example",
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/academic/academic-years/{academic_year}": {
            "get": {
                "tags": [
                    "Academic - Academic Years"
                ],
                "summary": "Get {academic_year}",
                "description": "Retrieve resource",
                "operationId": "get_Api_V1_Academic_Academic_years_academic_year",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "academic_year",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The academic_year identifier"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operation successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Example"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Operation successful",
                                    "data": {
                                        "id": 1,
                                        "name": "Example",
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "status": "error",
                                    "message": "Validation failed",
                                    "errors": {
                                        "field": [
                                            "The field is required."
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Academic - Academic Years"
                ],
                "summary": "Put {academic_year}",
                "description": "Update resource",
                "operationId": "put_Api_V1_Academic_Academic_years_academic_year",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "academic_year",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The academic_year identifier"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name",
                                    "start_year",
                                    "end_year"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 255
                                    },
                                    "start_year": {
                                        "type": "integer",
                                        "minLength": 1900,
                                        "maxLength": 2100
                                    },
                                    "end_year": {
                                        "type": "integer",
                                        "minLength": 1900,
                                        "maxLength": 2100
                                    },
                                    "is_active": {
                                        "type": "boolean"
                                    }
                                }
                            },
                            "example": {
                                "name": "John Doe",
                                "start_year": 2024,
                                "end_year": 2025,
                                "is_active": true
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operation successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Example"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Operation successful",
                                    "data": {
                                        "id": 1,
                                        "name": "Example",
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "status": "error",
                                    "message": "Validation failed",
                                    "errors": {
                                        "field": [
                                            "The field is required."
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operation successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Example"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Resource created successfully",
                                    "data": {
                                        "id": 1,
                                        "name": "Example",
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Academic - Academic Years"
                ],
                "summary": "Patch {academic_year}",
                "description": "Update resource",
                "operationId": "patch_Api_V1_Academic_Academic_years_academic_year",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "academic_year",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The academic_year identifier"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name",
                                    "start_year",
                                    "end_year"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 255
                                    },
                                    "start_year": {
                                        "type": "integer",
                                        "minLength": 1900,
                                        "maxLength": 2100
                                    },
                                    "end_year": {
                                        "type": "integer",
                                        "minLength": 1900,
                                        "maxLength": 2100
                                    },
                                    "is_active": {
                                        "type": "boolean"
                                    }
                                }
                            },
                            "example": {
                                "name": "John Doe",
                                "start_year": 2024,
                                "end_year": 2025,
                                "is_active": true
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operation successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Example"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Operation successful",
                                    "data": {
                                        "id": 1,
                                        "name": "Example",
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "status": "error",
                                    "message": "Validation failed",
                                    "errors": {
                                        "field": [
                                            "The field is required."
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/academic/class-grades": {
            "get": {
                "tags": [
                    "Academic - Class Grades"
                ],
                "summary": "Get Class grades",
                "description": "Retrieve resource",
                "operationId": "get_Api_V1_Academic_Class_grades",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operation successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Example"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Operation successful",
                                    "data": {
                                        "id": 1,
                                        "name": "Example",
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "status": "error",
                                    "message": "Validation failed",
                                    "errors": {
                                        "field": [
                                            "The field is required."
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Academic - Class Grades"
                ],
                "summary": "Post Class grades",
                "description": "Create resource",
                "operationId": "post_Api_V1_Academic_Class_grades",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "grade_level",
                                    "stage",
                                    "academic_year_id"
                                ],
                                "properties": {
                                    "grade_level": {
                                        "type": "integer",
                                        "minLength": 1,
                                        "maxLength": 12
                                    },
                                    "stage": {
                                        "type": "string",
                                        "enum": [
                                            "primary",
                                            "preparatory",
                                            "secondary"
                                        ]
                                    },
                                    "academic_year_id": {
                                        "type": "string"
                                    },
                                    "is_active": {
                                        "type": "boolean"
                                    }
                                }
                            },
                            "example": {
                                "grade_level": 1,
                                "stage": "primary",
                                "academic_year_id": 1,
                                "is_active": true
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operation successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Example"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Operation successful",
                                    "data": {
                                        "id": 1,
                                        "name": "Example",
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "status": "error",
                                    "message": "Validation failed",
                                    "errors": {
                                        "field": [
                                            "The field is required."
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operation successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Example"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Resource created successfully",
                                    "data": {
                                        "id": 1,
                                        "name": "Example",
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/academic/class-grades/{class_grade}": {
            "get": {
                "tags": [
                    "Academic - Class Grades"
                ],
                "summary": "Get {class_grade}",
                "description": "Retrieve resource",
                "operationId": "get_Api_V1_Academic_Class_grades_class_grade",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "class_grade",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The class_grade identifier"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operation successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Example"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Operation successful",
                                    "data": {
                                        "id": 1,
                                        "name": "Example",
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "status": "error",
                                    "message": "Validation failed",
                                    "errors": {
                                        "field": [
                                            "The field is required."
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Academic - Class Grades"
                ],
                "summary": "Put {class_grade}",
                "description": "Update resource",
                "operationId": "put_Api_V1_Academic_Class_grades_class_grade",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "class_grade",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The class_grade identifier"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "grade_level",
                                    "stage",
                                    "academic_year_id"
                                ],
                                "properties": {
                                    "grade_level": {
                                        "type": "integer",
                                        "minLength": 1,
                                        "maxLength": 12
                                    },
                                    "stage": {
                                        "type": "string",
                                        "enum": [
                                            "primary",
                                            "preparatory",
                                            "secondary"
                                        ]
                                    },
                                    "academic_year_id": {
                                        "type": "string"
                                    },
                                    "is_active": {
                                        "type": "boolean"
                                    }
                                }
                            },
                            "example": {
                                "grade_level": 1,
                                "stage": "primary",
                                "academic_year_id": 1,
                                "is_active": true
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operation successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Example"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Operation successful",
                                    "data": {
                                        "id": 1,
                                        "name": "Example",
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "status": "error",
                                    "message": "Validation failed",
                                    "errors": {
                                        "field": [
                                            "The field is required."
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operation successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Example"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Resource created successfully",
                                    "data": {
                                        "id": 1,
                                        "name": "Example",
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Academic - Class Grades"
                ],
                "summary": "Patch {class_grade}",
                "description": "Update resource",
                "operationId": "patch_Api_V1_Academic_Class_grades_class_grade",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "class_grade",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The class_grade identifier"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "grade_level",
                                    "stage",
                                    "academic_year_id"
                                ],
                                "properties": {
                                    "grade_level": {
                                        "type": "integer",
                                        "minLength": 1,
                                        "maxLength": 12
                                    },
                                    "stage": {
                                        "type": "string",
                                        "enum": [
                                            "primary",
                                            "preparatory",
                                            "secondary"
                                        ]
                                    },
                                    "academic_year_id": {
                                        "type": "string"
                                    },
                                    "is_active": {
                                        "type": "boolean"
                                    }
                                }
                            },
                            "example": {
                                "grade_level": 1,
                                "stage": "primary",
                                "academic_year_id": 1,
                                "is_active": true
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operation successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Example"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Operation successful",
                                    "data": {
                                        "id": 1,
                                        "name": "Example",
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "status": "error",
                                    "message": "Validation failed",
                                    "errors": {
                                        "field": [
                                            "The field is required."
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Academic - Class Grades"
                ],
                "summary": "Delete {class_grade}",
                "description": "Delete resource",
                "operationId": "delete_Api_V1_Academic_Class_grades_class_grade",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "class_grade",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The class_grade identifier"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operation successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Example"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Operation successful",
                                    "data": {
                                        "id": 1,
                                        "name": "Example",
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "status": "error",
                                    "message": "Validation failed",
                                    "errors": {
                                        "field": [
                                            "The field is required."
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/academic/groups": {
            "get": {
                "tags": [
                    "Academic - Groups"
                ],
                "summary": "Get Groups",
                "description": "Retrieve resource",
                "operationId": "get_Api_V1_Academic_Groups",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operation successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Example"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Operation successful",
                                    "data": {
                                        "id": 1,
                                        "name": "Example",
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "status": "error",
                                    "message": "Validation failed",
                                    "errors": {
                                        "field": [
                                            "The field is required."
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Academic - Groups"
                ],
                "summary": "Post Groups",
                "description": "Create resource",
                "operationId": "post_Api_V1_Academic_Groups",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name",
                                    "class_grade_id",
                                    "subject_id",
                                    "capacity"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 255
                                    },
                                    "class_grade_id": {
                                        "type": "string"
                                    },
                                    "subject_id": {
                                        "type": "integer"
                                    },
                                    "capacity": {
                                        "type": "integer",
                                        "minLength": 1,
                                        "maxLength": 100
                                    },
                                    "price": {
                                        "type": "number",
                                        "minLength": 0
                                    },
                                    "is_active": {
                                        "type": "boolean"
                                    },
                                    "code": {
                                        "type": "string",
                                        "maxLength": 255
                                    },
                                    "student_ids": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        }
                                    },
                                    "session_times": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "is_active": {
                                                    "type": "boolean"
                                                },
                                                "day": {
                                                    "type": "string",
                                                    "enum": [
                                                        "saturday",
                                                        "sunday",
                                                        "monday",
                                                        "tuesday",
                                                        "wednesday",
                                                        "thursday",
                                                        "friday"
                                                    ]
                                                },
                                                "start_time": {
                                                    "type": "string",
                                                    "format": "date_format:H:i"
                                                },
                                                "end_time": {
                                                    "type": "string",
                                                    "format": "date_format:H:i"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "example": {
                                "name": "John Doe",
                                "class_grade_id": 1,
                                "subject_id": 1,
                                "capacity": 1,
                                "price": 100.5,
                                "is_active": true,
                                "code": "123456",
                                "student_ids": [
                                    1,
                                    2
                                ],
                                "session_times": [
                                    {
                                        "is_active": true,
                                        "day": "monday",
                                        "start_time": "09:00",
                                        "end_time": "10:30"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operation successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Example"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Operation successful",
                                    "data": {
                                        "id": 1,
                                        "name": "Example",
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "status": "error",
                                    "message": "Validation failed",
                                    "errors": {
                                        "field": [
                                            "The field is required."
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operation successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Example"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Resource created successfully",
                                    "data": {
                                        "id": 1,
                                        "name": "Example",
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/academic/groups/{group}": {
            "get": {
                "tags": [
                    "Academic - Groups"
                ],
                "summary": "Get {group}",
                "description": "Retrieve resource",
                "operationId": "get_Api_V1_Academic_Groups_group",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "group",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The group identifier"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operation successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Example"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Operation successful",
                                    "data": {
                                        "id": 1,
                                        "name": "Example",
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "status": "error",
                                    "message": "Validation failed",
                                    "errors": {
                                        "field": [
                                            "The field is required."
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Academic - Groups"
                ],
                "summary": "Put {group}",
                "description": "Update resource",
                "operationId": "put_Api_V1_Academic_Groups_group",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "group",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The group identifier"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name",
                                    "class_grade_id",
                                    "subject_id",
                                    "capacity"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 255
                                    },
                                    "class_grade_id": {
[...]
