{
    "openapi": "3.0.0",
    "info": {
        "title": "Teachify API Documentation",
        "version": "1.0.0",
        "description": "API documentation for Teachify application - A comprehensive educational platform API"
    },
    "servers": [
        {
            "url": "http://teachify.127.0.0.1.io",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/documentation": {
            "get": {
                "tags": [
                    "General"
                ],
                "summary": "Get Documentation",
                "description": "Retrieve resource",
                "operationId": "get_Api_Documentation",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Operation successful",
                                    "data": {}
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "status": "error",
                                    "message": "Validation failed",
                                    "errors": {
                                        "field": [
                                            "The field is required."
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/oauth2-callback": {
            "get": {
                "tags": [
                    "General"
                ],
                "summary": "Get Oauth2 callback",
                "description": "Retrieve resource",
                "operationId": "get_Api_Oauth2_callback",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Operation successful",
                                    "data": {}
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "status": "error",
                                    "message": "Validation failed",
                                    "errors": {
                                        "field": [
                                            "The field is required."
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/academic/levels": {
            "get": {
                "tags": [
                    "Academic - Levels"
                ],
                "summary": "Get available levels",
                "description": "Retrieve list of levels available for the current channel (includes system defaults and channel-specific levels)",
                "operationId": "get_Api_V1_Academic_Levels",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "include_defaults",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": true
                        },
                        "description": "Include system default levels"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Levels retrieved successfully",
                                    "data": [
                                        {
                                            "id": 1,
                                            "name": "1 Primary",
                                            "code": "PRIM-1",
                                            "level_number": 1,
                                            "stage": "primary",
                                            "description": "Default level for 1 Primary",
                                            "is_active": true,
                                            "is_default": true,
                                            "channel_id": null,
                                            "created_at": "2024-01-01 00:00:00",
                                            "updated_at": "2024-01-01 00:00:00"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            },
            "post": {
                "tags": [
                    "Academic - Levels"
                ],
                "summary": "Create a new level",
                "description": "Create a new channel-specific level. System default levels cannot be created via API.",
                "operationId": "post_Api_V1_Academic_Levels",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "description": "Level name (e.g., 'Beginner Python', 'Advanced Math')"
                                    },
                                    "code": {
                                        "type": "string",
                                        "maxLength": 50,
                                        "nullable": true,
                                        "description": "Optional code for reference"
                                    },
                                    "level_number": {
                                        "type": "integer",
                                        "minimum": 1,
                                        "maximum": 12,
                                        "nullable": true,
                                        "description": "Level number for academic levels (1-12)"
                                    },
                                    "stage": {
                                        "type": "string",
                                        "enum": [
                                            "primary",
                                            "preparatory",
                                            "secondary"
                                        ],
                                        "nullable": true,
                                        "description": "Stage for academic levels"
                                    },
                                    "description": {
                                        "type": "string",
                                        "maxLength": 1000,
                                        "nullable": true,
                                        "description": "Optional description"
                                    },
                                    "is_active": {
                                        "type": "boolean",
                                        "default": true
                                    }
                                }
                            },
                            "example": {
                                "name": "Beginner Python",
                                "code": "PY-BEG",
                                "description": "Python programming for beginners",
                                "is_active": true
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Level created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Level created successfully",
                                    "data": {
                                        "id": 13,
                                        "name": "Beginner Python",
                                        "code": "PY-BEG",
                                        "level_number": null,
                                        "stage": null,
                                        "description": "Python programming for beginners",
                                        "is_active": true,
                                        "is_default": false,
                                        "channel_id": 1,
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/academic/levels/{level}": {
            "get": {
                "tags": [
                    "Academic - Levels"
                ],
                "summary": "Get level details",
                "description": "Retrieve details of a specific level",
                "operationId": "get_Api_V1_Academic_Levels_level",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "level",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The level identifier"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Level retrieved successfully",
                                    "data": {
                                        "id": 1,
                                        "name": "1 Primary",
                                        "code": "PRIM-1",
                                        "level_number": 1,
                                        "stage": "primary",
                                        "description": "Default level for 1 Primary",
                                        "is_active": true,
                                        "is_default": true,
                                        "channel_id": null,
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Level not found"
                    }
                }
            },
            "put": {
                "tags": [
                    "Academic - Levels"
                ],
                "summary": "Update a level",
                "description": "Update level information. System default levels cannot be modified.",
                "operationId": "put_Api_V1_Academic_Levels_level",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "level",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The level identifier"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 255
                                    },
                                    "code": {
                                        "type": "string",
                                        "maxLength": 50,
                                        "nullable": true
                                    },
                                    "level_number": {
                                        "type": "integer",
                                        "minimum": 1,
                                        "maximum": 12,
                                        "nullable": true
                                    },
                                    "stage": {
                                        "type": "string",
                                        "enum": [
                                            "primary",
                                            "preparatory",
                                            "secondary"
                                        ],
                                        "nullable": true
                                    },
                                    "description": {
                                        "type": "string",
                                        "maxLength": 1000,
                                        "nullable": true
                                    },
                                    "is_active": {
                                        "type": "boolean"
                                    }
                                }
                            },
                            "example": {
                                "name": "Beginner Python Updated",
                                "code": "PY-BEG-UPD",
                                "description": "Updated Python programming for beginners",
                                "is_active": false
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Level updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Level updated successfully",
                                    "data": {
                                        "id": 13,
                                        "name": "Beginner Python Updated",
                                        "code": "PY-BEG-UPD",
                                        "level_number": null,
                                        "stage": null,
                                        "description": "Updated Python programming for beginners",
                                        "is_active": false,
                                        "is_default": false,
                                        "channel_id": 1,
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Cannot edit system default level"
                    },
                    "404": {
                        "description": "Level not found"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Academic - Levels"
                ],
                "summary": "Update a level (partial)",
                "description": "Partially update level information. System default levels cannot be modified.",
                "operationId": "patch_Api_V1_Academic_Levels_level",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "level",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The level identifier"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 255
                                    },
                                    "code": {
                                        "type": "string",
                                        "maxLength": 50,
                                        "nullable": true
                                    },
                                    "level_number": {
                                        "type": "integer",
                                        "minimum": 1,
                                        "maximum": 12,
                                        "nullable": true
                                    },
                                    "stage": {
                                        "type": "string",
                                        "enum": [
                                            "primary",
                                            "preparatory",
                                            "secondary"
                                        ],
                                        "nullable": true
                                    },
                                    "description": {
                                        "type": "string",
                                        "maxLength": 1000,
                                        "nullable": true
                                    },
                                    "is_active": {
                                        "type": "boolean"
                                    }
                                }
                            },
                            "example": {
                                "is_active": false
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Level updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Cannot edit system default level"
                    },
                    "404": {
                        "description": "Level not found"
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Academic - Levels"
                ],
                "summary": "Delete a level",
                "description": "Delete a level. System default levels and levels in use by class grades cannot be deleted.",
                "operationId": "delete_Api_V1_Academic_Levels_level",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "level",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The level identifier"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Level deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Level deleted successfully",
                                    "data": null
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Cannot delete system default level"
                    },
                    "404": {
                        "description": "Level not found"
                    },
                    "409": {
                        "description": "Level is in use by class grades",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/academic/class-grades": {
            "get": {
                "tags": [
                    "Academic - Class Grades"
                ],
                "summary": "Get Class grades",
                "description": "Retrieve resource",
                "operationId": "get_Api_V1_Academic_Class_grades",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operation successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Example"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Operation successful",
                                    "data": {
                                        "id": 1,
                                        "name": "Example",
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "status": "error",
                                    "message": "Validation failed",
                                    "errors": {
                                        "field": [
                                            "The field is required."
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Academic - Class Grades"
                ],
                "summary": "Post Class grades",
                "description": "Create resource",
                "operationId": "post_Api_V1_Academic_Class_grades",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "level_id"
                                ],
                                "properties": {
                                    "level_id": {
                                        "type": "integer",
                                        "description": "ID of the level to associate with this class grade"
                                    },
                                    "name": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "nullable": true,
                                        "description": "Optional name for the class grade"
                                    },
                                    "is_active": {
                                        "type": "boolean"
                                    }
                                }
                            },
                            "example": {
                                "level_id": 1,
                                "name": "Class A",
                                "is_active": true
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operation successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Example"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Operation successful",
                                    "data": {
                                        "id": 1,
                                        "name": "Example",
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "status": "error",
                                    "message": "Validation failed",
                                    "errors": {
                                        "field": [
                                            "The field is required."
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operation successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Example"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Resource created successfully",
                                    "data": {
                                        "id": 1,
                                        "name": "Example",
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/academic/class-grades/{class_grade}": {
            "get": {
                "tags": [
                    "Academic - Class Grades"
                ],
                "summary": "Get {class_grade}",
                "description": "Retrieve resource",
                "operationId": "get_Api_V1_Academic_Class_grades_class_grade",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "class_grade",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The class_grade identifier"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operation successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Example"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Operation successful",
                                    "data": {
                                        "id": 1,
                                        "name": "Example",
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "status": "error",
                                    "message": "Validation failed",
                                    "errors": {
                                        "field": [
                                            "The field is required."
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Academic - Class Grades"
                ],
                "summary": "Put {class_grade}",
                "description": "Update resource",
                "operationId": "put_Api_V1_Academic_Class_grades_class_grade",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "class_grade",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The class_grade identifier"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "level_id"
                                ],
                                "properties": {
                                    "level_id": {
                                        "type": "integer",
                                        "description": "ID of the level to associate with this class grade"
                                    },
                                    "name": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "nullable": true,
                                        "description": "Optional name for the class grade"
                                    },
                                    "is_active": {
                                        "type": "boolean"
                                    }
                                }
                            },
                            "example": {
                                "level_id": 1,
                                "name": "Class A",
                                "is_active": true
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operation successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Example"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Operation successful",
                                    "data": {
                                        "id": 1,
                                        "name": "Example",
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "status": "error",
                                    "message": "Validation failed",
                                    "errors": {
                                        "field": [
                                            "The field is required."
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operation successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Example"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Resource created successfully",
                                    "data": {
                                        "id": 1,
                                        "name": "Example",
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Academic - Class Grades"
                ],
                "summary": "Patch {class_grade}",
                "description": "Update resource",
                "operationId": "patch_Api_V1_Academic_Class_grades_class_grade",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "class_grade",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The class_grade identifier"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "level_id"
                                ],
                                "properties": {
                                    "level_id": {
                                        "type": "integer",
                                        "description": "ID of the level to associate with this class grade"
                                    },
                                    "name": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "nullable": true,
                                        "description": "Optional name for the class grade"
                                    },
                                    "is_active": {
                                        "type": "boolean"
                                    }
                                }
                            },
                            "example": {
                                "level_id": 1,
                                "name": "Class A",
                                "is_active": true
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operation successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Example"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Operation successful",
                                    "data": {
                                        "id": 1,
                                        "name": "Example",
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "status": "error",
                                    "message": "Validation failed",
                                    "errors": {
                                        "field": [
                                            "The field is required."
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Academic - Class Grades"
                ],
                "summary": "Delete {class_grade}",
                "description": "Delete resource",
                "operationId": "delete_Api_V1_Academic_Class_grades_class_grade",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "class_grade",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The class_grade identifier"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operation successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Example"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Operation successful",
                                    "data": {
                                        "id": 1,
                                        "name": "Example",
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "status": "error",
                                    "message": "Validation failed",
                                    "errors": {
                                        "field": [
                                            "The field is required."
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/academic/groups": {
            "get": {
                "tags": [
                    "Academic - Groups"
                ],
                "summary": "Get Groups",
                "description": "Retrieve resource",
                "operationId": "get_Api_V1_Academic_Groups",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operation successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Example"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Operation successful",
                                    "data": {
                                        "id": 1,
                                        "name": "Example",
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "status": "error",
                                    "message": "Validation failed",
                                    "errors": {
                                        "field": [
                                            "The field is required."
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Academic - Groups"
                ],
                "summary": "Post Groups",
                "description": "Create resource",
                "operationId": "post_Api_V1_Academic_Groups",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name",
                                    "class_grade_id",
                                    "subject_id",
                                    "capacity"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 255
                                    },
                                    "class_grade_id": {
                                        "type": "string"
                                    },
                                    "subject_id": {
                                        "type": "integer"
                                    },
                                    "capacity": {
                                        "type": "integer",
                                        "minLength": 1,
                                        "maxLength": 100
                                    },
                                    "price": {
                                        "type": "number",
                                        "minLength": 0
                                    },
                                    "is_active": {
                                        "type": "boolean"
                                    },
                                    "code": {
                                        "type": "string",
                                        "maxLength": 255
                                    },
                                    "student_ids": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        }
                                    },
                                    "session_times": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "is_active": {
                                                    "type": "boolean"
                                                },
                                                "day": {
                                                    "type": "string",
                                                    "enum": [
                                                        "saturday",
                                                        "sunday",
                                                        "monday",
                                                        "tuesday",
                                                        "wednesday",
                                                        "thursday",
                                                        "friday"
                                                    ]
                                                },
                                                "start_time": {
                                                    "type": "string",
                                                    "format": "date_format:H:i"
                                                },
                                                "end_time": {
                                                    "type": "string",
                                                    "format": "date_format:H:i"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "example": {
                                "name": "John Doe",
                                "class_grade_id": 1,
                                "subject_id": 1,
                                "capacity": 1,
                                "price": 100.5,
                                "is_active": true,
                                "code": "123456",
                                "student_ids": [
                                    1,
                                    2
                                ],
                                "session_times": [
                                    {
                                        "is_active": true,
                                        "day": "monday",
                                        "start_time": "09:00",
                                        "end_time": "10:30"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operation successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Example"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Operation successful",
                                    "data": {
                                        "id": 1,
                                        "name": "Example",
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "status": "error",
                                    "message": "Validation failed",
                                    "errors": {
                                        "field": [
                                            "The field is required."
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operation successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Example"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Resource created successfully",
                                    "data": {
                                        "id": 1,
                                        "name": "Example",
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/academic/groups/{group}": {
            "get": {
                "tags": [
                    "Academic - Groups"
                ],
                "summary": "Get {group}",
                "description": "Retrieve resource",
                "operationId": "get_Api_V1_Academic_Groups_group",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "group",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The group identifier"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operation successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Example"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Operation successful",
                                    "data": {
                                        "id": 1,
                                        "name": "Example",
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "status": "error",
                                    "message": "Validation failed",
                                    "errors": {
                                        "field": [
                                            "The field is required."
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Academic - Groups"
                ],
                "summary": "Put {group}",
                "description": "Update resource",
                "operationId": "put_Api_V1_Academic_Groups_group",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "group",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The group identifier"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name",
                                    "class_grade_id",
                                    "subject_id",
                                    "capacity"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 255
                                    },
                                    "class_grade_id": {
                                        "type": "string"
                                    },
                                    "subject_id": {
                                        "type": "integer"
                                    },
                                    "capacity": {
                                        "type": "integer",
                                        "minLength": 1,
                                        "maxLength": 100
                                    },
                                    "price": {
                                        "type": "number",
                                        "minLength": 0
                                    },
                                    "is_active": {
                                        "type": "boolean"
                                    },
                                    "code": {
                                        "type": "string",
                                        "maxLength": 255
                                    },
                                    "student_ids": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        }
                                    },
                                    "session_times": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "is_active": {
                                                    "type": "boolean"
                                                },
                                                "day": {
                                                    "type": "string",
                                                    "enum": [
                                                        "saturday",
                                                        "sunday",
                                                        "monday",
                                                        "tuesday",
                                                        "wednesday",
                                                        "thursday",
                                                        "friday"
                                                    ]
                                                },
                                                "start_time": {
                                                    "type": "string",
                                                    "format": "date_format:H:i"
                                                },
                                                "end_time": {
                                                    "type": "string",
                                                    "format": "date_format:H:i"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "example": {
                                "name": "John Doe",
                                "class_grade_id": 1,
                                "subject_id": 1,
                                "capacity": 1,
                                "price": 100.5,
                                "is_active": true,
                                "code": "123456",
                                "student_ids": [
                                    1,
                                    2
                                ],
                                "session_times": [
                                    {
                                        "is_active": true,
                                        "day": "monday",
                                        "start_time": "09:00",
                                        "end_time": "10:30"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operation successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Example"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Operation successful",
                                    "data": {
                                        "id": 1,
                                        "name": "Example",
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "status": "error",
                                    "message": "Validation failed",
                                    "errors": {
                                        "field": [
                                            "The field is required."
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operation successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Example"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01 00:00:00"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "status": "success",
                                    "message": "Resource created successfully",
                                    "data": {
                                        "id": 1,
                                        "name": "Example",
                                        "created_at": "2024-01-01 00:00:00",
                                        "updated_at": "2024-01-01 00:00:00"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Academic - Groups"
                ],
                "summary": "Patch {group}",
                "description": "Update resource",
                "operationId": "patch_Api_V1_Academic_Groups_group",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "group",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The group identifier"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
[...]
